<!DOCTYPE html>
<html lang="{{ site.language|default('en') }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% include 'partials/metatags.html.twig' %}
    <link rel="stylesheet" href="{{ url(minify(toCSS('styles.scss'))) }}">
{% if site.favicon|default(false) %}
    <link rel="shortcut icon" href="{{ url(site.favicon) }}">
{% else %}
    <link rel="shortcut icon" href="{{ url(site.logo|default('')) }}">
{% endif %}
  </head>
  <body>
{% include 'partials/site-header.html.twig' %}
    <main class="main container">
      <div class="content typeset">
{% block content %}
        <article class="page">
          <h1>{{ page.title }}</h1>
          {{ page.content }}
        </article>
{% endblock content %}
      </div>
    </main>
{% include 'partials/site-footer.html.twig' %}
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700|Neuton:400,700" rel="stylesheet">
  </body>
</html>
